@fontface {
  font-family: 'Inter regular';
  src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap')
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.header {
  position: relative;
  width: 85vw;
}

