.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  border-radius: 15%;
  margin: 40px 7.5vw 40px 0;
}

.scrollButton {
  background: #2F80ED;
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  box-sizing: border-box;
  padding-left: 12px;
  border: 1px solid #2F80ED;

}

.scrollButton > a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.05rem;
}

.scrollImg {
  width: 16.5px;
  position: absolute;
  top: 33%;
  right: 0.8%;
}

